{% extends "base.html" %} {% block head %}
<meta name="viewport" content="width=device-width height=device-height, initial-scale=1">
<link href="{{ url_for('static', filename = 'css/enable.css')}}" rel="stylesheet">
{% endblock %} {% block title %}Rhoeby Remote{% endblock %} {% block body %}

<div class="watermark">
    <img src="{{ url_for('static', filename = 'img/watermark.png')}}" style="max-height: 70vh; opacity: 0.5;">
</div>
<div id="app">
<div class="main-container container">
    <div class="title">
        <div class="row">
            <div class="col-4">
                <i class="fas fa-power-off" style="font-size: 50px;"></i>
            </div>
            <div class="col-4 header-img" style=" ">
            </div>
            <div class="col-4">
                <div class="float-right">
                    
                    <i :class="battery" style="font-size: 50px;"></i>
                    <p>${battery_percentage}%</p>
                </div>
            </div>
        </div>
    </div>
    <div class="control" id="control">
        <div id="start"  v-if="mode == mode_enum.start">
            <div class="middle">
                <center>
                    <button type="button" @click="startNav" class="btn btn-primary btn-lg">Start Navigation</button>
                </center>
            </div>
            <br>
            <div class="bottom">
                <div class="row">
                    <div class="col-4 col-md-3">
                        <p class="bold">Captured Runs (${past_runs.length}):</p>
                    </div>
                    <div class="col-5 offset-3 col-md-4 offset-md-5">
                        <a href="#">
                            <i class="fas fa-download"></i> Download All
                        </a>
                        <a href="#" style="padding-left: 10px;">
                            <i class="fas fa-trash"></i> Delete All
                        </a>
                    </div>
                </div>
                <!-- template for vue.js -->
                <div class="row">
                    <table class="table">
                        <tbody>
                            <tr v-for="run in past_runs">
                              <th scope="row">${ run.name }</th>
                              <td>${run.date} / ${run.length}</td>
                              <td>
                              	<a href="#" >
                                    <i class="fas fa-play"></i>
                                </a>
                                <a href="#" style="padding-left: 30px;">
                                    <i class="fas fa-download"></i>
                                </a>
                                <a href="#" style="padding-left: 30px;">
                                    <i class="fas fa-trash"></i>
                                </a>
                              </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div id="run"  v-if="mode == mode_enum.run">
            <div class="middle">
                <center>
                    <h2 id="timer">Running... ${runningTimer}</h2>
                    <button type="button" class="btn btn-primary btn-lg" id="pause_button" @click="pauseNav()">Pause Navigation</button>
                </center>
            </div>

            <div class="bottom">
               <center>
                    <img :src="mapImg" class="map-img" id="map_img" alt="Unable To Load Map Image"/>
                </center>
            </div>
        </div>
        <div id="pause" v-if="mode == mode_enum.pause">
        	<div class="row">
        		<div class="col-12">
        			
		        	<center>
		        	<h2>Paused... ${runningTimer}</h2>
		        	<button type="button" class="btn btn-primary btn-lg" id="pause_button" @click="startNav()">Resume Navigation</button>
		        	</center>
		        	<div class="mapPreview">
		               <center>
		                    <img :src="mapImg" class="map-img" id="map_img" alt="Unable To Load Map Image"/>
		                </center>
		            </div>
        		</div>
        	</div>
            <div class="row">
            	<div class="col-md-4 offset-md-1 offset-lg-2">
            		<center>
            			<button type="button" class="btn btn-primary btn-lg confirm-btn" id="pause_button" data-toggle="modal" data-target="#exampleModalCenter">End Run & Save</button>
            		</center>
            	</div>
            	<div class="col-md-4 offset-md-1 offset-lg-0">
            		<center>
            			<button type="button" class="btn btn-primary btn-lg cancel-btn" id="pause_button" @click="discardNav()">End Run & Discard</button>
            		</center>
            	</div>
            </div>
        	
        </div>


    	
    	<div class="navbar fixed-bottom">
    		<a class="navbar-brand"><div class="rhoeby-icon-small"></div>test</a>
    		<span class="navbar-text">Connected</span>
    	</div>

    </div>
</div>

    

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Some Additional Info...</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
		  <div class="form-group">
		    <label for="location">Location Name</label>
		    <input type="text" class="form-control" id="locationName" v-model="locationNameInput" aria-describedby="locationHelp" placeholder="Enter location Name">
		  </div>
		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" @click="saveNav()">Save changes</button>
      </div>
    </div>
  </div>
</div>
</div>
</body>
<script src="{{ url_for('static', filename = 'js/wip.js')}}"></script>
{% endblock %}
